.form-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.form {
    box-shadow: 10px 10px 10px gray;
}


.login-btn {
    margin-left: 10%;
    color: white;
    background-color: black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
}

.login-btn:hover {
    border: 1px double whitesmoke;
    color: white;
    background-color: navy;
}